<!--  *ngFor="let myevents of events" -->
<ion-content class="theBody">

  <body>
    <div class="backbutton">
        <ion-fab horizontal="start" slot="start">

            <ion-fab-button color="primary" routerLink="/club-profile">
                <ion-icon color="dark" name="arrow-back"></ion-icon>
            </ion-fab-button>

        </ion-fab>


    </div>

      <div *ngFor="let myevents of events">
          <div id="bg">
              <ion-grid>
                  <ion-row color="primary" justify-content-center>
                      <br>
                      <ion-col align-self-center size-md="12" size-lg="11" size-xs="12">

                          <div class="div1">
                              <div class="div3">
                                  <br>
                            
                              <ion-label (click)="nameUpdate(myevents)" id="name" text-center>{{myevents.name}}
                                  <ion-icon name="create"></ion-icon>
                              </ion-label>
                              <br>

                              <div class="profile-image">
                                  <div *ngIf="!defaultpic">
                                      <img src="{{myevents.photoURL}}">
                                  </div>
                                  <div *ngIf="defaultpic">
                                      <img src="\assets\images\profile-user.png">
                                  </div>

                                  <div class="image-upload">
                                      <ion-fab horizontal="center" vertical="top" class="fab">
                                          <ion-fab-button color="primary" size="small">
                                              <ion-icon name="camera" class="input"> </ion-icon>
                                          </ion-fab-button>



                                          <ion-fab-list side="end">
                                              <ion-fab-button color="primary" >
                                                  <label for="file-input2">
                                                                  <ion-icon name="document" class="document"> </ion-icon> 
                                                          </label>
                                              </ion-fab-button>
                                          </ion-fab-list>
                                      </ion-fab>


                                      <input id="file-input2" class="input" type="file" (change)="uploadProfilePic($event)" />
                                  </div>
                                  <div class="spinner" *ngIf="((uploadPercent | async ) >0 && (uploadPercent | async ) !='') || (progress>0 && progress !='')">
                                      <ion-spinner name="crescent" color="success"></ion-spinner>
                                  </div>
                              </div>
                              <br>
                            
                            <br>
                              <div class="div2" >


                                  <br><br><br>
                                  <br><br><br>
                                  <ion-list lines="none" class="ion-padding">
                                       <!-- update address -->
                                       <ion-item>

                                        <ion-label >{{myevents.address}}
                                            
                                        </ion-label>
  
                                        <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
                                        
                                        <ion-icon name="create" (click)="addressUpdate(myevents)"></ion-icon>
                                    </ion-item>
                                     <!-- update date -->
                                     <ion-item>

                                      <ion-label >{{myevents.date}}
                                          
                                      </ion-label>

                                      <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
                                      
                                      <ion-icon name="create" (click)="dateUpdate(myevents)"></ion-icon>
                                  </ion-item>
                                     <!-- update open time -->
                                     <ion-item>

                                      <ion-label >{{myevents.openingHours}}
                                          
                                      </ion-label>

                                      <ion-icon name="navigate"color="primary" slot="start"></ion-icon>
                                      
                                      <ion-icon name="create" (click)="openUpdate(myevents)"></ion-icon>
                                  </ion-item>
                                   <!-- update closing time -->
                                   
                                   <ion-item>

                                    <ion-label >{{myevents.closingHours}}
                                        
                                    </ion-label>

                                    <ion-icon name="time" color="primary" slot="start"></ion-icon>
                                    
                                    <ion-icon name="create" (click)="closeUpdate(myevents)"></ion-icon>
                                </ion-item>
                                    <!-- update km -->
                                    <ion-item>

                                      <ion-label >{{myevents.distance}} km
                                          
                                      </ion-label>

                                      <ion-icon name="swap-horizontal" color="primary" slot="start"></ion-icon>
                                      
                                      <ion-icon name="create" (click)="kmUpdate(myevents)"></ion-icon>
                                  </ion-item>
                                   <!-- update price -->
                                   <ion-item>

                                    <ion-label >{{myevents.price}}
                                        
                                    </ion-label>

                                    <ion-icon name="cash" color="primary" slot="start"></ion-icon>
                                    
                                    <ion-icon name="create" (click)="priceUpdate(myevents)"></ion-icon>
                                </ion-item>
                                <!-- discription -->
                                <ion-item>

                                    <ion-label >{{myevents.info}}
                                        
                                    </ion-label>

                                    <ion-icon name="cash" color="primary" slot="start"></ion-icon>
                                    
                                    <ion-icon name="create" (click)="infoUpdate(myevents)"></ion-icon>
                                </ion-item>                                  
                              


                                  </ion-list>




                              </div>
                          </div>
                          </div>
                      </ion-col>

                  </ion-row>
              </ion-grid>


          </div>
    

      </div>
  </body>

</ion-content>