<ion-content class="body">


    <div class="div2" [ngStyle]="{'background-image':'url('+clubData?.photoURL+')'}">
        <!-- <img src="/assets/images/rep.jpg">      -->
        <div class="backbutton">
            <ion-fab horizontal="start" slot="start">

                <ion-fab-button color="light" routerLink="/tabs/home">
                    <ion-icon color="dark" name="arrow-back"></ion-icon>
                </ion-fab-button>

            </ion-fab>


        </div>


    </div>
    <div class="div1">
        <div class="div3">
            <ion-list>
                <ion-item lines="none">
                    <h1> {{clubData.name}}</h1>
                </ion-item>
                <br>
                <ion-item lines="none">
                    <ion-icon name="navigate" color="primary"></ion-icon>&nbsp; {{clubData?.address}}


                </ion-item>
                <br>
                <ion-item lines="none">
                    <ion-icon name="alarm" color="primary"></ion-icon> &nbsp; {{clubData?.openingHours}} To {{clubData?.closingHours}}
                </ion-item>
                <ion-item lines="none">
                    <ion-icon name="information-circle" color="primary"></ion-icon> &nbsp; {{clubData?.info}}
                </ion-item>
            </ion-list>
            <br>
            <!-- <ion-button style="width: 90%;" shape="round" expand="full" color="primary" (click)="login()">Login</ion-button> -->
            <ion-button *ngIf="!saved" (click)="getAClubsEvents()" style="width: 90%;" shape="round" expand="full" color="primary">View Events</ion-button>
            <ion-button *ngIf="saved" (click)="clearEvents()" style="width: 90%;" shape="round" expand="full" color="primary">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </div>

        <div *ngIf="saved">
            <div *ngFor="let ev of events" class="div3">
                <ion-item routerLink="/book-event" (click)="booking(ev)">
                    <ion-icon name="calendar"></ion-icon> &nbsp; Event Name: {{ev.name}}<br/> Date: {{ev.date}}

                </ion-item>

            </div>
        </div>


        <div class="div3" *ngIf="!saved">
            <p>---None Load Events---</p>

        </div>
    </div>

</ion-content>