<ion-content class="body">
   
<!-- 
    <body>
        <h1>Paint Fun</h1>
        <h1>Race Club</h1>
        <img src="assets/images/rep.jpg">
        <ion-item lines="none" class="buu">
            <ion-button class="jay">
                <ion-icon name="navigate"></ion-icon>
            </ion-button>
            <ion-button class="tee" color="primary">Events</ion-button>
        </ion-item>
    </body> -->
    
    <div class="div2">
        <!-- <img src="/assets/images/rep.jpg">      -->
        <div class="backbutton">
        <ion-buttons   slot="start">
            <ion-fab-button>  <ion-icon name="back" color="light" defaultHref="tabs/home"></ion-icon></ion-fab-button>
        </ion-buttons>    
        </div>
    </div>
    <div class="div1">
        <div class="div3">
        <ion-item lines="none">
            <h2>Name:</h2>
            <ion-label></ion-label>
        </ion-item>
        <ion-item lines="none">
            <h2>Location:</h2>
            <ion-label></ion-label>
        </ion-item>
        <br>
        <ion-button shape="round" routerLink="tabs/add" expand="full" color="primary" fill="outline">View events</ion-button>
           </div>  
    </div>
   
</ion-content>