<ion-content>
    <form [formGroup]="clubForm">

        <body>

            <div id="bg">

                <ion-grid>

                    <ion-row color="primary" justify-content-center>
                        <br>

                        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

                            <div class="div1">
                                <div class="div3">
                                    <ion-buttons slot="start">
                                        <ion-icon routerLink="/tabs/add" color="light" name="arrow-back" style="zoom:1.5"></ion-icon>
                                    </ion-buttons>
                                    <h2 id="heading">Add Your Club</h2>

                                    <div class="profile-image">
                                        <div *ngIf="urlPath =='' ">
                                            <img src="\assets\images\profile-user.png" class="x">
                                        </div>

                                        <div *ngIf="urlPath !='' ">
                                            <img data-src="{{urlPath}}">
                                        </div>

                                        <div class="image-upload">
                                            <ion-fab horizontal="center" vertical="top" class="fab">
                                                <ion-fab-button color="primary" size="small">
                                                    <ion-icon name="camera" class="input"> </ion-icon>
                                                </ion-fab-button>


                                                <ion-fab-list side="end">
                                                    <ion-fab-button color="primary">
                                                        <label for="file-input2">
                                                            <ion-icon name="document" class="document"> </ion-icon> 
                                                    </label>
                                                    </ion-fab-button>
                                                </ion-fab-list>
                                            </ion-fab>


                                            <input id="file-input2" class="input" type="file" (change)="uploadClubPic($event)" />


                                        </div>
                                        <div class="spinner" *ngIf="((uploadPercent | async ) >0 && (uploadPercent | async ) !='') || (progress>0 && progress !='')">
                                            <ion-spinner name="crescent" color="success"></ion-spinner>
                                        </div>

                                    </div>

                                    <br><br><br>


                                    <div class="div2">
                                        <br><br><br><br>
                                        <!-- club name -->
                                        <ion-label position="floating" class="lbl">Club name</ion-label>
                                        <ion-item id="item">
                                            <ion-input type="text" padding-horizontal clear-input="true" formControlName="newName"></ion-input>
                                        </ion-item>
                                        <div class="error" *ngIf="clubForm.get('newName').hasError('required') && clubForm.get('newName').touched">
                                            Please input your club
                                        </div>
                                        <div class="error" *ngIf="clubForm.get('newName').hasError('minlength') && clubForm.get('newName').touched">
                                            Minimum 4 characters
                                        </div>
                                        <div class="error" *ngIf="clubForm.get('newName').hasError('maxlength') && clubForm.get('newName').touched">
                                            Maximum 30 characters
                                        </div>
                                        <!-- address search -->
                                        <ion-label position="floating">Address</ion-label>
                                        <ion-item id="item">
                                            <ion-input padding-horizontal clear-input="true" type="text" [(ngModel)]="newAddress" formControlName="newAddress" (ionInput)="search($event)" [value]="selectedAddress" clearInput></ion-input>
                                        </ion-item>
                                        <div style="position: absolute; max-width: 90%; min-width: 90%; z-index: 999; " class="search">
                                            <ion-list lines="none" *ngIf="addresses.length > 0" color="lightb" style="background: var(--ion-item-background,var(--ion-background-color, black)); ">
                                                <ion-item *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" color="dark">
                                                    <ion-icon name="pin"></ion-icon>
                                                    <p class="searchv">{{address}}</p>
                                                </ion-item>
                                            </ion-list>
                                        </div>
                                        <!-- address search -->


                                        <div *ngIf="clubForm.controls.newAddress.invalid && clubForm.controls.newAddress.dirty">
                                        </div>
                                        <div class="error" *ngIf="clubForm.get('newAddress').hasError('required') && clubForm.get('newAddress').touched">
                                            Please input your Address
                                        </div>
                                        <!--  -->
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-label position="floating">Open Time</ion-label>

                                                    <ion-item id="item">
                                                        <ion-datetime formControlName="newOpeningHours" max="11:59" displayFormat="H:mm a"></ion-datetime>
                                                    </ion-item>
                                                    <div *ngIf="clubForm.controls.newOpeningHours.invalid && clubForm.controls.newOpeningHours.dirty">
                                                    </div>
                                                    <div class="error" *ngIf="clubForm.get('newOpeningHours').hasError('required') && clubForm.get('newOpeningHours').touched">
                                                        Please input your Open Hour
                                                    </div>
                                                </ion-col>
                                                <ion-col>
                                                    <ion-label position="floating">Close Time</ion-label>
                                                    <ion-item id="item">
                                                        <ion-datetime formControlName="newClosingHours" min="12:00" displayFormat="H:mm a"></ion-datetime>
                                                    </ion-item>
                                                    <!-- <div *ngIf="clubForm.controls.newClosingHours.invalid && clubForm.controls.Hours.newClosingHours">
                                            </div> -->
                                                    <div class="error" *ngIf="clubForm.get('newClosingHours').hasError('required') && clubForm.get('newClosingHours').touched">
                                                        Please input your Close Hour
                                                    </div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>



                                        <br>

                                        <ion-col>
                                            <ion-button style="width: 90%;" shape="round" expand="full" color="primary" (click)="addClub() ">Submit</ion-button>
                                        </ion-col>


                                    </div>

                                </div>
                            </div>
                        </ion-col>

                    </ion-row>
                </ion-grid>






            </div>

        </body>
    </form>
</ion-content>