<ion-content class="body">

    <body>

        <div id="bg">

            <ion-grid>

                <ion-row color="primary" justify-content-center>

                    <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

                        <div class="div1">
                            <div class="div3">

                                <br/>


                                <div class="title">

                                    <h1>
                                        Clubs
                                    </h1>
                                </div>
                                <br>






                                <div class="div2">
                                    <br>
                                    <ion-item lines="none">
                                        <ion-button routerLink="/add-club" style="width: 90%;" color="primary" shape="round" class="actButtons" expand="full">

                                            <ion-icon name="add-circle"></ion-icon>Create Club</ion-button>

                                    </ion-item>
                                    <br>

                                    <!-- <h1 class="subtitle">
                                        Clubs
                                    </h1> -->

                                    <div class="subtitle">
                                        <!-- <h1>
                                            Clubs
                                        </h1> -->


                                        <ion-list lines="none" *ngFor="let myclubs of clubs">
                                            <ion-item routerDirection="forward" class="item" *ngIf="hasAClub" (click)="getAClubsEvents(myclubs.clubKey,myclubs.photoURL)">

                                                <ion-avatar> <img src="{{myclubs.photoURL}}"></ion-avatar> &nbsp;
                                                <p class="clubname"> {{myclubs.name}}</p>
                                            </ion-item>

                                        </ion-list>
                                    </div>
                                    <div class="noClubs" *ngIf="!hasAClub">


                                        <p text-center color="medium" class="sadname"> You Don't Have Any Clubs Yet ! </p>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>

        </div>

    </body>


</ion-content>