<!--  *ngFor="let myevents of events" -->
<ion-content class="theBody">

  <body>
  

      <div>
          <div id="bg">
              <ion-grid>
                  <ion-row color="primary" justify-content-center>
                      <br>
                      <ion-col align-self-center size-md="12" size-lg="11" size-xs="12">

                          <div class="div1">
                              <div class="div3">
                                <div class="back">
                                  <ion-buttons slot="start">
                                      <ion-icon routerLink="/tabs/add" color="light" name="arrow-back"
                                          style="zoom:1.5"></ion-icon>
                                  </ion-buttons>
                              </div>
                                  <br>
                            
                              <ion-label (click)="nameUpdate(clubData?.name)" id="name" text-center style = "text-transform:capitalize;">{{clubData?.name}}
                                  <ion-icon name="create"></ion-icon>
                              </ion-label>
                              <br>

                              <div class="profile-image">
                                <div *ngIf="!defaultpic">
                                    <img src="\assets\images\profile-user.png" class="x">
                                </div>

                                <div *ngIf="defaultpic ">
                                    <img data-src="{{clubData?.photoURL}}">
                                </div>

                                  <div class="image-upload">
                                      <ion-fab horizontal="center" vertical="top" class="fab">
                                          <ion-fab-button color="primary" size="small">
                                            <label for="file-input2">
                                              <ion-icon name="camera" class="input"> </ion-icon>
                                            </label>
                                          </ion-fab-button>


                                      </ion-fab>


                                      <input id="file-input2" class="input" type="file" (change)="uploadProfilePic($event)" />
                                  </div>
                                  <div class="spinner" *ngIf="((uploadPercent | async ) >0 && (uploadPercent | async ) !='') || (progress>0 && progress !='')">
                                      <ion-spinner name="crescent" color="success"></ion-spinner>
                                  </div>
                              </div>
                              <br>
                            
                            <br>
                              <div class="div2" >


                                <br><br>
                                  <ion-list lines="none" class="ion-padding">
                                   
                                  
                                     <!-- update open time -->
                                     <ion-item  id="openingHours" text-center style = "text-transform:capitalize;">

                                      <ion-label >{{clubData?.openingHours}}
                                          
                                      </ion-label>

                                      <ion-icon name="time"color="primary" slot="start"></ion-icon>
                                      
                                      <ion-icon name="create"(click)="openUpdate(clubData?.openingHours)"></ion-icon>
                                  </ion-item>
                                   <!-- update closing time -->
                                   
                                   <ion-item id="closingHours" text-center style = "text-transform:capitalize;">

                                    <ion-label >{{clubData?.closingHours}}
                                        
                                    </ion-label>

                                    <ion-icon name="time" color="primary" slot="start"></ion-icon>
                                    
                                    <ion-icon name="create" (click)="closeUpdate(clubData?.closingHours)"></ion-icon>
                                </ion-item>
                                 
                                   <!-- update address -->
                                   <ion-item id="address" text-center style = "text-transform:capitalize;">

                                    <ion-label >{{clubData?.address}}
                                        
                                    </ion-label>
                                    
                                    <ion-icon name="calendar" color="primary" slot="start"></ion-icon>
                                        
                                    <ion-icon name="create" (click)="addressUpdate(clubData?.address)"></ion-icon>

                                   </ion-item>
                                    
                                    <br>

                                       <!-- update info -->
                                   <ion-item id="info" text-center style = "text-transform:capitalize;">

                                    <ion-label >{{clubData?.info}}
                                        
                                    </ion-label>
                                    
                                    <ion-icon name="information" color="primary" slot="start"></ion-icon>
                                        
                                    <ion-icon name="create" (click)="infoUpdate(clubData?.info)"></ion-icon>

                                   </ion-item>
                       
                                        </ion-list>


                                    </div>
                                    </div>
                                    </div>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
        
        
                                </div>
                            </div>
                        
    </body>

</ion-content>