<ion-content class="body">


    <!-- <div class="div2" [ngStyle]="{'background-image':'url('+/assets/images/rep.jpg+')'}"> -->
    <img src="/assets/images/rep.jpg">
    <div class="backbutton">
        <ion-fab horizontal="start" slot="start">

            <ion-fab-button color="light" routerLink="/tabs/home">
                <ion-icon color="dark" name="arrow-back"></ion-icon>
            </ion-fab-button>

        </ion-fab>


    </div>


    <!-- </div> -->
    <div class="div1" *ngFor="let evn of events">
        <div class="div3">
            <ion-list>
                <ion-item lines="none" style="text-transform:capitalize;">
                    <h1> {{evn.name}}</h1>
                </ion-item>
                <ion-item lines="none" style="text-transform:capitalize;">
                    <ion-icon name="map"></ion-icon>&nbsp; {{evn.address}}


                </ion-item>
                <ion-item lines="none" style="text-transform:capitalize;">
                    <ion-icon name="alarm"></ion-icon> &nbsp; {{evn.openingHours}} To {{evn.closingHours}}
                </ion-item>
            </ion-list>
            <br>

        </div>




    </div>

</ion-content>