<ion-content class="body">

    <body>
        <div *ngFor="let user of theUser ">
            <div id="bg">
                <ion-grid>
                    <ion-row color="primary" justify-content-center>
                        <br>
                        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">

                            <div class="div1">
                                <div class="div3">


                                    <ion-label (click)="nameUpdate(user)" id="name" text-center>{{user.name}}
                                        <ion-icon name="create"></ion-icon>
                                    </ion-label>
                                    <br>

                                    <!-- <div *ngFor="let user of theUser "> -->
                                    <br>
                                    <div *ngIf="defaultpic">
                                        <img class="img" src="{{user.photoURL}}">
                                    </div>
                                    <div *ngIf="!defaultpic">
                                        <img class="img" src="\assets\images\profile-user.png">
                                    </div>
                                    <!-- </div> -->

                                    <br>
                                    <ion-grid class="grid">
                                        <ion-row>
                                            <ion-col class="col">
                                                <h2>{{kilos}} km</h2>
                                                <p>kilos</p>
                                            </ion-col>
                                            <ion-col class="col">
                                                <h2>{{past}} km</h2>
                                                <p>completed</p>
                                            </ion-col>
                                            <ion-col>
                                                <h2>{{sum}}</h2>
                                                <p>Events</p>
                                            </ion-col>
                                        </ion-row>

                                    </ion-grid>
                                    <div class="div2">
                                        <!-- <h2>Events requiring payments</h2> -->
                                        <br>
                                        <h2 text-center class="cent"> Events You Going To
                                            <!-- <ion-icon class="iconSize" name="compass"></ion-icon> -->
                                        </h2>



                                        <!-- all the boked tickets -->

                                        <div *ngIf="hasATicket">
                                            <div *ngIf="isSlide">
                                                <ion-slides startAutoplay [options]="slideOptsT">

                                                    <ion-slide *ngFor="let event of tickets">

                                                        <ion-card class="booked" routerLink="/eventHome" (click)="booking(event)" style="text-transform:capitalize;">
                                                            <br>
                                                            <ion-card-title class="wordsCards">
                                                                <ion-icon name="information-circle"></ion-icon> {{event.name}}</ion-card-title> <br/>
                                                            <ion-card-content class="wordsCard">
                                                                Time: {{event.openingHours}}<br/> Date: {{event.date}}
                                                            </ion-card-content>
                                                        </ion-card>


                                                    </ion-slide>
                                                </ion-slides>
                                            </div>

                                        </div>

                                        <div class="noClubs" *ngIf="!hasATicket">


                                            <p text-center color="medium" class="sadname"> You Don't Have Any Tickets Yet ! </p>


                                        </div>

                                        <!-- all registered clubs -->
                                        <div *ngIf="isSlide">
                                            <h2 text-center class="cent"> Running Clubs
                                                <!-- <ion-icon class="iconSize" name="people"></ion-icon> -->
                                            </h2>
                                            <div *ngIf="hasAClub">


                                                <ion-slides class="slick-slide" startAutoplay [options]="slideOpts">
                                                    <ion-slide *ngFor="let clubss of clubs">
                                                        <ion-card class="slideCards" [ngStyle]="{'background-image':'url('+clubss.photoURL+')'}" routerLink="/club-home" (click)="chooseClub(clubss)">
                                                            <ion-card-content class="tb" style="text-transform:capitalize;">
                                                                <h2 class="cName">{{clubss.name}}</h2>
                                                            </ion-card-content>
                                                        </ion-card>

                                                    </ion-slide>
                                                </ion-slides>

                                            </div>
                                        </div>

                                        <div class="noClubs" *ngIf="!hasAClub">

                                            <p text-center color="medium" class="sadname"> There Are No Clubs To View Yet ! </p>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </ion-col>

                    </ion-row>
                </ion-grid>


            </div>


        </div>
    </body>


</ion-content>